.chart{
    flex: 4;
    -webkit-box-shadow: 4px -2px 22px -6px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 4px -2px 22px -6px rgba(0, 0, 0, 0.48);
    box-shadow: 4px -2px 22px -6px rgba(0, 0, 0, 0.48);
    padding: 5px 10px;

    .title{
        color: gray;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .chartgrid{
        stroke: #bbbbbb;
    }
}